@import "./libs/breakpoints.scss";
@import "fonts";
@import "vars";
@import "base";

@import "./header.scss";

.current-board {
    display: flex;
    justify-content: center;
    min-height: 45rem;
}
