@import "./libs/breakpoints.scss";
@import "fonts";
@import "vars";
@import "base";

@import "./header.scss";

.current-board {
    display: flex;
    justify-content: center;
    min-height: 45rem;
}

.add-card {
    background-color: $cardBG;
    display: flex;
    min-height: 5rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__input {
        border: none;
        background-color: lighten($cardBG, 20);
        height: 2rem;
        color: #FFFFFF;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: rgba(247, 247, 247, 0.8);
        }
    }

    &__button {
        display: flex;
        background-color: darken($cardBG, 10);
        min-width: 4rem;
        min-height: 2rem;
        color: #FFFFFF;

        justify-content: center;
        align-items: center;

        font-size: 1.5rem;
        cursor: pointer;

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        /*
            Introduced in Internet Explorer 10.
            See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
        */
        -ms-user-select: none;

        &:hover {
            box-shadow: 2px 2px 5px darken($cardBG, 15);
        }

        &:active {
            background-color: darken($cardBG, 7);
            box-shadow: 1px 1px 3px darken($cardBG, 15);
        }
    }
}

.column-name-edit-button {
    margin-left: 1rem;
    cursor: pointer;
    height: 1.5rem;
}

.column-delete-button {
    cursor: pointer;
    margin-left: 1rem;
}